.page-header {
    /* background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover; */
    background-color: #17224D;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}
